.commandInput {
	position: absolute;
	width: 725px;
	bottom: 10px;
}

.goButton {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.content {
	margin-top: 5px;
	border: 1px solid gray;
	width: 770px;
	height: 375px;
}

.player {
	margin-top: 5px;
	position: absolute;
	border: 1px solid gray;
	width: 770px;
	height: 100px;
}