@font-face {
  font-family: 'Oxygen';
  src: url('../fonts/Oxygen/Oxygen-Regular.ttf');
}
@font-face {
	font-family: 'Julius Sans One';
	src: url('../fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf');
}
@font-face {
	font-family: 'Allerta';
	src: url('../fonts/Allerta/Allerta-Regular.ttf');
}

html, body {
	font-family: 'Allerta', sans-serif;
	margin:0px;
	padding:0px;
	font-size: 14px;
  overflow: hidden;
}

table {
	border-collapse: collapse;
	border: 1px solid #aaa;
}
table, td, th {
    border: 1px solid #aaa;
}

.main-ui {
  display: none;
}

.top-bar {
	padding: 2px;
	background-color: #d2cfcf;
	border-bottom: 2px solid #bbb;
	height: 25px;
}

.top-bar-content {
	/*margin: 2px;*/
	border-bottom: 1px solid #000;
	/*background-color: #777;*/
	/*height: 42px;*/
}

.bottom-bar {
	bottom: 5px;
	border-top: 1px solid #000;
	font-size: 20px;
}

.main-content {
  display: inline-block;
  margin-top: 5px;
	/*border: 1px solid red;*/
	font-size: 26px;
	height: 440px;
  width: 675px;
}

.right-content {
  display: inline-block;
  margin-top: 5px;
  /*border: 1px solid green;*/
  border-left: 1px solid black;
  font-size: 16px;
  height: 440px;
  width: 30%;
}

.command-text {
	font-family: 'Allerta', sans-serif;
	font-size: 20px;
	border:none;
	width: 95%;
  /*border: 1px solid blue;*/
}
.command-text:focus {
	outline: none;
}

.inset-button-container {
	border: 1px solid #aaa;
	height: 25px;
	width: 778px;
	background-color: #bbb;
}
